<div class="center-shift">
    <header>
        <h3>Add New Devices</h3>
    </header>

    <form action="" role="form">
        <div class="form-group">
            <label for="newDeviceDescription">Serial Numbers</label>
            <textarea ng-model="newDevices" class="form-control" rows="3" placeholder="One per line"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button type="submit" class="btn btn-link" ng-click="back()">Back to Device Type</button>
    </form>
</div>
